*{
    margin:0;
    padding:0;
}
.navbar img{
    
    height:30px;
}
.navbar a{
    text-align:left;
    color: white;
}
body{
    background: url(food.jpg);
    background-size:cover;
}
.content{
    text-align: center;
}